{% extends "base.html" %}
{% block titulo %} Lista de Panes {% endblock %}
{% block contenido %}
    <div class="card">
        <div class="card-header">
            <a name="" id="" class="btn btn-primary" href="{% url 'crearPanes' %}" role="button">Agregar Pan</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Panes</h4>
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nombre</th>
                        <th>Imagen</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                        {% for pan in Panes %}
                        <tr>
                            <td>{{pan.id}}</td>
                            <td>{{pan.nombre}}</td>
                            <td>
                            <img src="{{pan.imagen.url}}" height="100" width="100">
                            </td>
                            <td>{{pan.precio}}</td>
                            <td>{{pan.stock}}</td>
                            <td>
                                <a href="{% url 'editarPanes' pan.id %}" class="btn btn-primary">Editar</a>
                                <a href="{% url 'eliminarPanes' pan.id %}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                   
                    <!-- Fin del ejemplo -->
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted">
        
        </div>
    </div>
{% endblock %}
